@model IEnumerable<Sistema_Matricula.ViewsModels.HorarioEstudianteViewModel>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head><title></title></head>
    <body>
    <div class="bg-white rounded-lg shadow-lg p-4">

        <div class="px-4 py-3 container w-full">
            <table class="min-w-full divide-y divide-gray-200 rounded-lg overflow-hidden">
                <thead class="bg-gradient-to-r from-[#fca311] to-[#f77f00] text-white">
                    <tr>
                        <th class="px-6 py-3 text-left text-sm font-semibold tracking-wider uppercase">Curso</th>
                        <th class="px-6 py-3 text-left text-sm font-semibold tracking-wider uppercase">Docente</th>
                        <th class="px-6 py-3 text-left text-sm font-semibold tracking-wider uppercase">Hora Inicio</th>
                        <th class="px-6 py-3 text-left text-sm font-semibold tracking-wider uppercase">Hora Fin</th>
                        <th class="px-6 py-3 text-left text-sm font-semibold tracking-wider uppercase">Lugar</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">

                    @if (Model.Any() && Model != null)
                    {
                        @foreach (var item in Model)
                        {
                            <tr class="hover:bg-gray-50 transition-colors">
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    @Html.DisplayFor(modelItem => item.CursoNombre)
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    @Html.DisplayFor(modelItem => item.NombreCompletoDocente)
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    @Html.DisplayFor(modelItem => item.Dia)
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    @Html.DisplayFor(modelItem => item.HoraInicio)
                                </td>
                                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">
                                    @Html.DisplayFor(modelItem => item.HoraFin)
                                </td>

                            </tr>
                        }
                    }else{
                        <tr>
                            <td colspan="5" class="text-center text-gray-500">No tienes horarios asignados de este curso o en este día</td>
                        </tr>
                    }
                    
                </tbody>
            </table>
        </div>

    </div>

    </body>
</html>