@model IEnumerable<Sistema_Matricula.Models.HorarioCursoSeccion>
<p>
    <a asp-action="agregarcursohorario">nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdHorarioCursoSeccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCursoSeccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdHorario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                    @Html.DisplayNameFor(modelitem => item.IdHorarioCursoSeccion)
            </td>
            <td>
                    @Html.DisplayNameFor(modelitem => item.IdCursoSeccion)
            </td>
            <td>
                    @Html.DisplayNameFor(modelitem => item.IdHorario)
            </td>
            <td>
                    @Html.ActionLink("editar", "editarcursohorario", new { id = item.IdHorarioCursoSeccion }) |
                    @Html.ActionLink("details", "details", new { /* id=item.primarykey */ }) |
                    @Html.ActionLink("delete", "delete", new { /* id=item.primarykey */ })
            </td>
        </tr>
}
    </tbody>
</table>
