@model IEnumerable<Sistema_Matricula.Models.CursoDocente>

<p>
    <a asp-action="AgregarCursoDocenteView">Asignar Docente a un CURSO</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCursoDocente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdDocente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdCurso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCursoDocente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdDocente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCurso)
            </td>
            <td>
                    @Html.ActionLink("Editar", "EditarCursoDocenteView", new { id = item.IdCursoDocente }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
