@model IEnumerable<Sistema_Matricula.Models.Seccion>

@{
    ViewData["Title"] = "ListarSeccion";
}

<h1>ListarSeccion</h1>

<p>
    <a asp-action="AgregarSeccion">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdSeccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdGrado)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdSeccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
               @Html.DisplayFor(modelItem => item.IdGrado)
             </td>
            <td>
                @Html.ActionLink("Editar", "EditarSeccion", new {  id=item.IdSeccion }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
