@using Sistema_Matricula.Models
@model PagedResult<Estudiante>

<div id="alerta-editar-estudiantes">
    @if (TempData["EditarEstudianteSuccess"] != null)
    {
        <div class="bg-yellow-500 text-white font-bold rounded-t px-4 py-2">
            Editado
        </div>
        <div class="border border-t-0 border-yellow-400 rounded-b bg-yellow-100 px-4 py-3 text-yellow-700">
            @TempData["EditarEstudianteSuccess"]
        </div>
    }
</div>
<div id="alerta-registro-estudiantes">
    @if (TempData["RegistroEstudianteSuccess"] != null)
    {
        <div class="bg-green-500 text-white font-bold rounded-t px-4 py-2">
            Éxito
        </div>
        <div class="border border-t-0 border-green-400 rounded-b bg-green-100 px-4 py-3 text-green-700">
            @TempData["RegistroEstudianteSuccess"]
        </div>
    }
</div>

<div class="layout-content-container flex flex-col w-full flex-1">
    <div class="px-4 py-3 container w-full">
        <div class="overflow-x-auto rounded-xl border border-[#D5D6DD] bg-[#F9FAFA]">
            <table class="min-w-full divide-y divide-gray-200 rounded-lg overflow-hidden">
                <thead class="bg-gradient-to-r from-[#fca311] to-[#f77f00] text-white">
                    <tr>
                        <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Codigo Estudiante</th>
                        <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Nombres</th>
                        <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Apellidos</th>
                        <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Sexo</th>
                        <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Fech. Nacimiento</th>
                        <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Direccion</th>
                        <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">DNI</th>
                        <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Estado</th>
                        <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">Mantenimiento</th>
                    </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                    @foreach (var item in Model.Items)
                    {
                        <tr class="hover:bg-gray-50 transition-colors">
                            <td class="px-6 py-4 text-sm text-gray-800" id="idestudiante">
                                @Html.DisplayFor(modelItem => item.IdEstudiante)
                            </td>
                            <td class="px-6 py-4 text-sm text-gray-800">
                                @Html.DisplayFor(modelItem => item.Nombre)
                            </td>
                            <td class="px-6 py-4 text-sm text-gray-800">
                                @Html.DisplayFor(modelItem => item.Apellido)
                            </td>
                            <td class="px-6 py-4 text-sm text-gray-800">
                                @Html.DisplayFor(modelItem => item.Sexo)
                            </td>
                            <td class="px-6 py-4 text-sm text-gray-800">
                                @Html.DisplayFor(modelItem => item.FechNacimiento)
                            </td>
                            <td class="px-6 py-4 text-sm text-gray-800">
                                @Html.DisplayFor(modelItem => item.Direccion)
                            </td>
                            <td class="px-6 py-4 text-sm text-gray-800">
                                @Html.DisplayFor(modelItem => item.Dni)
                            </td>
                            <td class="px-6 py-4 text-sm text-gray-800" id="datoEstado">
                                <span id="span-pintado" class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 bg-[#EEEFF2] text-[#1C1D22] text-sm font-medium leading-normal w-full">
                                    @Html.DisplayFor(modelItem => item.Estado)
                                </span>
                            </td>

                            <td class="px-6 py-4 text-sm text-gray-800">
                                <div class="flex justify-center space-x-2">
                                    <a id="eliminarEstudiante" href="@Url.Action("EliminarEstudiante", "Estudiante", new { id = item.IdEstudiante })" class="flex justify-center items-center w-8 text-white bg-red-500 px-2 py-2 rounded hover:bg-red-700 transition-colors duration-300 no-underline">
                                        <span class="material-symbols-outlined text-lg">delete_forever</span>
                                    </a>
                                    <a class="editar-estudiante flex justify-center items-center w-8 text-white bg-yellow-500 px-2 py-2 rounded hover:bg-yellow-700 transition-colors duration-300 no-underline" data-id="@item.IdEstudiante">
                                        <span class="material-symbols-outlined text-lg">edit</span>
                                    </a>
                                    @* <a href="@Url.Action("ObtenerDni", "Matricula", new { dni = item.Dni })"
                                class="flex justify-center items-center w-8 text-white bg-blue-500 px-2 py-2 rounded hover:bg-blue-700 transition-colors duration-300 no-underline">
                                <span class="material-symbols-outlined">
                                search_check_2
                                </span>
                                </a> *@
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="flex justify-content-center">
        @if (Model.PageNumber > 1)
        {
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="loadPage(@(Model.PageNumber - 1))">Anterior</button>

        }
        <span>Página @Model.PageNumber de @Model.TotalPages</span>
        @if (Model.PageNumber < Model.TotalPages)
        {
            <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="loadPage(@(Model.PageNumber + 1))">Siguiente</button>
        }


    </div>
</div>