@model IEnumerable<Sistema_Matricula.Models.Estudiante>

@{
    ViewData["Title"] = "Listar Estudiantes";
}

<h1>Listar Estudiantes</h1>

<p>
    <a asp-action="AgregarEstudiante" class="btn btn-success">Nuevo</a>
</p>

@using (Html.BeginForm("ListarEstudiantes", "Estudiante", FormMethod.Get))
{
    <div class="form-group">
        @Html.Label("Buscar por nombre:")
        @Html.TextBox("palabra", ViewBag.Palabra as string, new { @class = "form-control", placeholder = "Ingrese el nombre", id = "palabra" })

    </div>
    <button type="submit" class="btn btn-primary" id="boton">Buscar</button>
}

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IdEstudiante)</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Apellido)</th>
            <th>@Html.DisplayNameFor(model => model.FechNacimiento)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.Telefono)</th>
            <th>@Html.DisplayNameFor(model => model.Direccion)</th>
            <th>@Html.DisplayNameFor(model => model.Estado)</th>
            <th>@Html.DisplayNameFor(model => model.Dni)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdEstudiante)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Apellido)</td>
                <td>@Html.DisplayFor(modelItem => item.FechNacimiento)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td>@Html.DisplayFor(modelItem => item.Telefono)</td>
                <td>@Html.DisplayFor(modelItem => item.Direccion)</td>
                <td>@Html.DisplayFor(modelItem => item.Estado)</td>
                <td>@Html.DisplayFor(modelItem => item.Dni)</td>
                <td>
                    @Html.ActionLink("Editar", "EditarEstudiante", new { id = item.IdEstudiante }) |
                    @Html.ActionLink("Detalles", "EstudianteDetalles", new { id = item.IdEstudiante }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.IdEstudiante })
                </td>
            </tr>
        }
    </tbody>
</table>

@* <div class="row">
    <div class="col-md-12">
        <h2>Apoderados</h2>
        <div id="apoderados-container">
            @await Html.PartialAsync("_apoderado", (List<Sistema_Matricula.Controllers.ApoderadoController>)ViewBag.Apoderados)
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var $apoderadosContainer = $('#apoderados-container');

            function loadApoderados() {
                $.ajax({
                    url: '@Url.Action("ListarApoderadoPartial", "Apoderado")',
                    type: 'GET',
                    data: $('#filter-form').serialize(),
                    success: function (data) {
                        $apoderadosContainer.html(data);
                        bindSortEvents();
                    }
                });
            }

            function bindSortEvents() {
                $('.sort-btn').click(function (e) {
                    e.preventDefault();
                    var $this = $(this);
                    var sortField = $this.data('sort-field');
                    var sortDirection = $this.data('sort-direction');
                    $this.data('sort-direction', sortDirection === 'asc' ? 'desc' : 'asc');
                    loadApoderados();
                });
            }

            $('#filter-form').submit(function (e) {
                e.preventDefault();
                loadApoderados();
            });

            loadApoderados();
        });

    </script>
} *@

@* @section Scripts {
    <script>
        let boton = document.getElementById('boton')
        let palabra = document.getElementById('palabra');

        palabra.addEventListener('input', (event) => {
            event.preventDefault();
            boton.click();
            event.preventDefault();
        })
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
} *@
