  @model IEnumerable<Sistema_Matricula.Models.Estudiante>

@{
    ViewData["Title"] = "Listar Estudiantes";
}




<html>
    <head>
      <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
      <link
        rel="stylesheet"
        as="style"
        onload="this.rel='stylesheet'"
        href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
      />

      <title>Galileo Design</title>
        <h1>Listar Estudiantes</h1>
      <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

      <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    </head>
  <body style="align-content:start; margin-left:230px; margin-top:200px">
    <a asp-action="AgregarEstudiante" id="button-style" class="bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded ">Nuevo</a>

        @using (Html.BeginForm("ListarEstudiantes", "Estudiante", FormMethod.Get))
        {
            <div class="form-group">
                @Html.Label("Buscar por nombre:")
                @Html.TextBox("palabra", ViewBag.Palabra as string, new { @class = "form-control", placeholder = "Ingrese el nombre", id = "palabra" })

            </div>

        }
    <button class="bg-gray-500 hover:bg-[#212141] text-white  text-gray-800 font-bold py-2 px-4 rounded inline-flex items-center" id="export-excel-button" style="margin-top:15px; margin-left:25px">
        <svg class="fill-current w-4 h-4 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M13 8V2H7v6H2l8 8 8-8h-5zM0 18h20v2H0v-2z" /></svg>
        <span>Exportar a Excel</span>
    </button>
        <div class="layout-content-container flex flex-col w-full flex-1" >
            <div class="px-4 py-3 container">
              <div class="flex overflow-hidden rounded-xl border border-[#D5D6DD] bg-[#F9FAFA]">
                <table class="flex-1">
                  <thead>
                        <tr class="bg-[#212141]">
                      <th class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-56 px-4 py-3 text-left text-[#FFFFFF] w-14 text-sm font-medium leading-normal">
                                Codigo Estudiante
                          </th>
                      <th class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-176 px-4 py-3 text-left text-[#FFFFFF] w-[400px] text-sm font-medium leading-normal">
                                Nombres
                            </th>
                            <th class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-176 px-4 py-3 text-left text-[#FFFFFF] w-[400px] text-sm font-medium leading-normal">
                                Apellidos
                            </th>
                      <th class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-296 px-4 py-3 text-left text-[#FFFFFF] w-[400px] text-sm font-medium leading-normal">
                                Fech. Nacimiento
                      </th>
                      <th class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-296 px-4 py-3 text-left text-[#FFFFFF] w-[400px] text-sm font-medium leading-normal">
                                Email
                      </th>
                      <th class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-296 px-4 py-3 text-left text-[#FFFFFF] w-[400px] text-sm font-medium leading-normal">
                        Telefono
                      </th>
                      <th class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-296 px-4 py-3 text-left text-[#FFFFFF] w-[400px] text-sm font-medium leading-normal">
                        Direccion
                      </th>
                      <th class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-296 px-4 py-3 text-left text-[#FFFFFF] w-[400px] text-sm font-medium leading-normal">
                                Estado
                      </th>
                      <th class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-296 px-4 py-3 text-left text-[#FFFFFF] w-[400px] text-sm font-medium leading-normal">
                        DNI
                      </th>
                            <th class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-296 px-4 py-3 text-left text-[#FFFFFF] w-[400px] text-sm font-medium leading-normal">
                                Mantenimiento
                            </th>
                    </tr>
                  </thead>
                  <tbody>
                        @foreach (var item in Model)
                        {
                            <tr class="border-t border-t-[#D5D6DD]">
                                <td class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-56 h-[72px] px-4 py-2 w-14 text-sm font-normal leading-normal">
                                    <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10"
                                         style='background-image: url("https://cdn.usegalileo.ai/sdxl10/53a13668-0845-41fa-857d-eb5c45fb9191.png");'>
                                    </div>@Html.DisplayFor(modelItem => item.IdEstudiante)
                                </td>
                                <td class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-176 h-[72px] px-4 py-2 w-[400px] text-[#1C1D22] text-sm font-normal leading-normal">
                                    @Html.DisplayFor(modelItem => item.Nombre)
                                </td>
                                <td class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-176 h-[72px] px-4 py-2 w-[400px] text-[#1C1D22] text-sm font-normal leading-normal">
                                    @Html.DisplayFor(modelItem => item.Apellido)
                                </td>
                                <td class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-176 h-[72px] px-4 py-2 w-[400px] text-[#1C1D22] text-sm font-normal leading-normal">
                                    @Html.DisplayFor(modelItem => item.FechNacimiento)
                                </td>
                                <td class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-176 h-[72px] px-4 py-2 w-[400px] text-[#1C1D22] text-sm font-normal leading-normal">
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-176 h-[72px] px-4 py-2 w-[400px] text-[#1C1D22] text-sm font-normal leading-normal">
                                    @Html.DisplayFor(modelItem => item.Telefono)
                                </td>
                                <td class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-176 h-[72px] px-4 py-2 w-[400px] text-[#1C1D22] text-sm font-normal leading-normal">
                                    @Html.DisplayFor(modelItem => item.Direccion)
                                </td>
                                <td class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-176 h-[72px] px-4 py-2 w-[400px] text-[#1C1D22] text-sm font-normal leading-normal">
                                    <span id="span-pintado"  class="flex min-w-[84px] max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-full h-8 px-4 bg-[#EEEFF2] text-[#1C1D22] text-sm font-medium leading-normal w-full">
                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </span> @* style="background-color:green" *@
                                </td>
                                <td class="table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-176 h-[72px] px-4 py-2 w-[400px] text-[#1C1D22] text-sm font-normal leading-normal">
                                    @Html.DisplayFor(modelItem => item.Dni)
                                </td>
                                <td class="h-[72px] px-4 py-2 text-sm font-normal leading-normal">
                                    @Html.ActionLink("Editar", "EditarEstudiante", new { id = item.IdEstudiante }) |
                                    @Html.ActionLink("Detalles", "EstudianteDetalles", new { id = item.IdEstudiante }) |
                                    @Html.ActionLink("Delete", "Delete", new { id = item.IdEstudiante })
                                </td>
                            </tr>
                        }
                  </tbody>
                </table>
              </div>
              <style>
                          container(max-width:56px){.table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-56{display: none;}}
                container(max-width:176px){.table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-176{display: none;}}
                container(max-width:296px){.table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-296{display: none;}}
                container(max-width:416px){.table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-416{display: none;}}
                container(max-width:536px){.table-b4f66b0a-a212-4a0f-8191-89da80493d17-column-536{display: none;}}
              </style>
            </div>
          </div>
    <link href="~/css/stilos.css" rel="stylesheet" />
  </body>
</html>
<script>
    var span_pintado = document.querySelectorAll("#span-pintado");
    span_pintado.forEach(e => {
        if (e.innerText == "Activo" || e.innerText == "activo") {
            e.style.backgroundColor = "#8ef6a7";
        } else {
            e.style.backgroundColor = "#ec9bae";
        }
        }
    )
    document.getElementById('export-excel-button').addEventListener('click', function () {
        window.location.href = '/Estudiante/PasarTablaExcel';
    });
    
</script>
