@model IEnumerable<Sistema_Matricula.ViewsModels.EstudianteCursoSeccionViewModel>


<div class="layout-content-container flex flex-col w-full flex-1">
    <div class="px-4 py-3 container w-full">
        <div class="overflow-x-auto rounded-xl border border-[#D5D6DD] bg-[#F9FAFA]">
            <table class="min-w-full">
                <thead>
                    <tr class="bg-[#FCA311]">
                        <th class="px-4 py-3 text-left text-[#FFFFFF] text-sm font-medium leading-normal">
                            @Html.DisplayNameFor(model => model.Seccion.IdSeccion)
                        </th>
                        <th class="px-4 py-3 text-left text-[#FFFFFF] text-sm font-medium leading-normal">
                            @Html.DisplayNameFor(model => model.Seccion.Nombre)
                        </th>
                        <th class="px-4 py-3 text-left text-[#FFFFFF] text-sm font-medium leading-normal">
                            @Html.DisplayNameFor(model => model.Nivel.Descripcion)
                        </th>
                        <th class="px-4 py-3 text-left text-[#FFFFFF] text-sm font-medium leading-normal">
                            @Html.DisplayNameFor(model => model.Grado.Descripcion)
                        </th>

                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="border-t border-t-[#D5D6DD]">
                            <td class="h-[72px] px-4 py-2 text-[#1C1D22] text-sm font-normal leading-normal">
                                @Html.DisplayFor(modelItem => item.Seccion.IdSeccion)
                            </td>
                            <td class="h-[72px] px-4 py-2 text-[#1C1D22] text-sm font-normal leading-normal">
                                @Html.DisplayFor(modelItem => item.Seccion.Nombre)
                            </td>
                            <td class="h-[72px] px-4 py-2 text-[#1C1D22] text-sm font-normal leading-normal">
                                @Html.DisplayFor(modelItem => item.Nivel.Descripcion)
                            </td>
                            <td class="h-[72px] px-4 py-2 text-[#1C1D22] text-sm font-normal leading-normal">
                                @Html.DisplayFor(modelItem => item.Grado.Descripcion)
                            </td>
                            <td class="h-[72px] px-4 py-2 text-[#1C1D22] text-sm font-normal leading-normal">
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>