@model IEnumerable<Sistema_Matricula.Models.Pago>

<p>
    <a asp-action="AgregarPago">Nuevo Pago</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoPago)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.IdMatricula)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPago)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.IdMatricula)
            </td> *@
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
