@using Sistema_Matricula.ViewsModels
@model PagedResult<MatriculaViewModel>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        <title></title>

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5/5hb5gLl1PLTT3/rxxqOWP5PlJp/5hb5gLl1PLTT3r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    </head>
<body style="align-content:start; margin-left:280px; margin-top:20px; background:#E5E5E5">

    <div id="errorMatricula">
        @if (TempData["ErrorMatricula"] != null)
        {
            <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2">
                Observación
            </div>
            <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
                @TempData["ErrorMatricula"]
            </div>
        }
    </div>
    <div id="exitoMatricula">
        @if (TempData["ExitoMatricula"] != null)
        {
            <div class="bg-green-500 text-white font-bold rounded-t px-4 py-2">
                Éxito
            </div>
            <div class="border border-t-0 border-green-400 rounded-b bg-green-100 px-4 py-3 text-green-700">
                @TempData["ExitoMatricula"]
            </div>
        }
    </div>

    <div class="bg-white rounded-lg shadow-lg p-4">

        <div class="px-4 py-3 container w-full">
            <div class="overflow-x-auto rounded-xl border border-[#D5D6DD] bg-[#F9FAFA]">
                <table class="min-w-full divide-y divide-gray-200 rounded-lg overflow-hidden">
                    <thead class="bg-gradient-to-r from-[#fca311] to-[#f77f00] text-white">
                        <tr>
                            <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">
                                IdMatricula
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">
                                Nivel - Grado - Sección
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">
                                NombrePeriodo
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">
                                Nombres y Apellidos    
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">
                                DescripcionMonto) --  Monto
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">
                                FechMatricula
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">
                                Estado
                            </th>
                            <th class="px-6 py-3 text-left text-xs font-semibold uppercase tracking-wider">
                                Extension
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                        @foreach (var item in Model.Items)
                        {
                            <tr class="hover:bg-gray-50 transition-colors">
                                <td class="px-6 py-4 text-sm text-gray-800">
                                    @Html.DisplayFor(modelItem => item.IdMatricula)
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-800">
                                    @Html.DisplayFor(modelItem => item.DescripcionNivel) -
                                    @Html.DisplayFor(modelItem => item.DescripcionGrado) - 
                                    @Html.DisplayFor(modelItem => item.NombreSeccion)
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-800">
                                    @Html.DisplayFor(modelItem => item.NombrePeriodo)
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-800">
                                    @Html.DisplayFor(modelItem => item.NombreEstudiante) - @Html.DisplayFor(modelItem => item.ApellidoEstudiante)
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-800">
                                    @Html.DisplayFor(modelItem => item.DescripcionMonto) @Html.DisplayFor(modelItem => item.Monto)
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-800">
                                    @Html.DisplayFor(modelItem => item.FechMatricula)
                                </td>
                                <td class="px-6 py-4 text-sm text-gray-800">
                                    @Html.DisplayFor(modelItem => item.Estado)
                                </td>
                                <td class=" px-6 py-4 text-sm text-gray-800">
                                    <a href="@Url.Action("PagarMatricula", "Pago", new { idMatricula = item.IdMatricula })" title="Pagar matrícula">
                                        <span class="material-symbols-outlined">
                                            paid
                                        </span>
                                    </a>

                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="flex justify-content-center">
            @if (Model.PageNumber > 1)
            {
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="loadPage2(@(Model.PageNumber - 1))">Anterior</button>

            }
            <span>Página @Model.PageNumber de @Model.TotalPages</span>
            @if (Model.PageNumber < Model.TotalPages)
            {
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" onclick="loadPage2(@(Model.PageNumber + 1))">Siguiente</button>
            }


        </div>

    </div>

    </body>
</html>