@model IEnumerable<Sistema_Matricula.Models.Curso>

@{
    ViewData["Title"] = "ListarCurso";
}

<h1>ListarCurso</h1>

<p>
    <a asp-action="AgregarCuRSO" class="btn btn-success">Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IdCurso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdCurso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                    @Html.ActionLink("Editar", "EditarCurso", new { id=item.IdCurso }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
<style>
    body {
        margin-left: 120px;
    }
</style>